//=========================================================
//
//  @package Wicle WDK
//
//  @author Robin Soo-hyuk Nam, (http://windron.com)
//  @date Aug 15, 2016
//
//=========================================================

@import "wdk/constants";


//--- layout
$w-site-max-width:              null !default; // 1220px !default; null means no limit
$w-page-max-width:              1220px !default;  // 960px !default;


//--- grid
$w-grid-max-count:              16 !default;
$w-grid-gutter-width:           1rem !default;  // 20px


//--- typography
// $w-font-size:                   14px !default;
// $w-font-size-mobile:            15px !default;
// $w-font-sans:                   $w-font-sans-default !default;
// $w-font-serif:                  $w-font-serif-default !default;
// $w-font-mono:                   Roboto Mono,Consolas,Courier,monospace;
// $w-line-height:                 1.5 !default;


//--- borders
$w-border-radius:               3px !default;



//-----------------------------------------------
//  Generate Optional Classes - Add to your scss file if necessary
//-----------------------------------------------

//--- sass-wdk: visibility classes (see sass-wdk _visibility.scss for details)
// @include w-visibility-generate-classes; // generate all classes
// @include w-visibility-generate-classes((show, hide), (medium, large)); // generate selective classes

//--- wicle: theme colors for button and panel
// @include w-button-modifier-color-scheme(primary);
// @include w-panel-modifier-color-scheme((secondary, info));
// @include w-button-modifier-color-scheme();
// @include w-panel-modifier-color-scheme();
