//=========================================================
//
//  @package  Wicle Collection
//  @module   layout/section/site
//
//=========================================================


//-----------------------------------------------
//  Config
//-----------------------------------------------
@mixin w-layout-site-config {
  $key: 'w-layout/site';

  // site
  @include ssv($key, 'max-width', $w-site-max-width, true);
  @include ssv($key, 'z-index', $w-z-index + 1000, true);

  // site-header
  @include ssv($key, 'header/fg', null, true);
  @include ssv($key, 'header/bg', $w-theme-color, true);
  @include ssv($key, 'header/gradient', (level:20%, direction:top));
  @include ssv($key, 'header/min-height', 3rem, true);
  //@include ssv($key, 'header/padding', 1rem 0.5rem, true);

  // site-header-trailer
  // @include ssv($key, 'header-trailer/padding', (1rem), true);

  // site-footer
  @include ssv($key, 'footer/margin', (0rem auto), true);
  @include ssv($key, 'footer/padding', (2rem 1rem), true);
  @include ssv($key, 'footer/divider', (1px solid gray(70%, 0.5)), true);
  @include ssv($key, 'footer/fg', $w-color-text-white, true);
  @include ssv($key, 'footer/bg', rgba(#000, 0.85), true);

  // site-offcanvas
  @include ssv($key, 'offcanvas/z-index', gsv($key, 'z-index') + 100, true);
  @include ssv($key, 'offcanvas/fg', $w-color-text-white, true);
  @include ssv($key, 'offcanvas/bg', $w-color-text-black, true);
}

//-----------------------------------------------
//  Mixins
//-----------------------------------------------
@mixin w-layout-site {
  $key: 'w-layout/site';

  .l-site {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: gsv($key, max-width);
    z-index: gsv($key, z-index);
  }
}

@mixin w-layout-site-header() {
  $key: 'w-layout/site';

  .l-site-header {
    box-sizing: border-box;
    position: relative;
    $z-index: gsv($key, 'site/z-index');     // header should appear above the other layout objects
    margin: 0 auto;
    min-height: gsv($key, 'header/height');  // height this should be set in applications
    @include w-clearfix();

    // default style
    color: gsv($key, header/fg);
    background: gsv($key, header/bg);
  }
}

// @mixin w-layout-site-header-trailer {
//   .l-header + .l-header-trailer {
//      position: absolute;
//      z-index: gsv($key, 'site/z-index') - 1;
//      width: 100%;
//      padding: gsv($key, 'header-trailer/padding');
//      display: none;
//     }
// }

@mixin w-layout-site-content() {
  .l-site-content {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@mixin w-layout-site-footer() {
  $key: 'w-layout/site';

  .l-site-footer {
    width: 100%;
    margin: gsv($key, 'footer/margin');
    padding: gsv($key, 'footer/padding');


    // default style
    color: gsv($key, footer/fg);
    background: gsv($key, footer/bg);
    text-align: center;
    border-top: gsv($key, 'footer/divider');
  }
}

@mixin w-layout-site-offcanvas() {
  $key: 'w-layout/site';
  
  .l-site-offcanvas {
    z-index: gsv($key, 'offcanvas/z-index');

    // default style
    color: gsv($key, 'offcanvas/fg');
    background: gsv($key, 'offcanvas/bg');
  }
}
