//=========================================================
//
//  @package  Wicle Collection
//  @module   layout/site
//
//=========================================================


//-----------------------------------------------
//  Config
//-----------------------------------------------
@mixin w-layout-site-config {
    $key: 'w-layout/site';

    // site-shadow
    @include ssv($key, 'shadow/z-index', $z-index-shadow1, true);

    // site
    @include ssv($key, 'max-width', $w-site-max-width, true);
    // @include ssv($key, 'z-index', $z-layer-site, true);

    // site-header
    @include ssv($key, 'header/fg', null, true);
    @include ssv($key, 'header/bg', $w-theme-color, true);
    @include ssv($key, 'header/gradient', (level:20%, direction:top));
    @include ssv($key, 'header/min-height', 3rem, true);
    @include ssv($key, 'header/z-index', 10, true);
    // @include ssv($key, 'header/z-index', gsv($key, 'z-index')+10, true);
    //@include ssv($key, 'header/padding', 1rem 0.5rem, true);

    // site-banner
    @include ssv($key, 'banner/min-height', 25rem, true);

    // site-header-trailer
    // @include ssv($key, 'header-trailer/padding', (1rem), true);

    // site-footer
    @include ssv($key, 'footer/margin', (0rem auto), true);
    @include ssv($key, 'footer/padding', (2rem 1rem), true);
    @include ssv($key, 'footer/divider', (1px solid gray(70%, 0.5)), true);
    @include ssv($key, 'footer/fg', $w-color-text-white, true);
    @include ssv($key, 'footer/bg', rgba(#000, 0.85), true);

    // site-overlay
    @include ssv($key, 'overlay/z-index', $z-index-level1, true);

    // site-offcanvas
    @include ssv($key, 'offcanvas/bg', $w-color-text-black, true);
    @include ssv($key, 'offcanvas/z-index', $z-index-level2, true);
    @include ssv($key, 'offcanvas/close-button/offset', 0.5rem, true);
    @include ssv($key, 'offcanvas/close-button/font-size', 1.35rem, true);
    @include ssv($key, 'offcanvas/close-button/padding', (0 0.4rem), true);
    @include ssv($key, 'offcanvas/close-button/fg', gray(85%), true);
    @include ssv($key, 'offcanvas/close-button/bg', gray(15%), true);
    @include ssv($key, 'offcanvas/close-button/border', (1px solid gray), true);
    @include ssv($key, 'offcanvas/close-button/border-radius', 5px, true);
}

//-----------------------------------------------
//  Mixins
//-----------------------------------------------
@mixin w-layout-site-background {
    $key: 'w-layout/site/shadow';

    .l-site-background {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: gsv($key, 'z-index');
    }
}

@mixin w-layout-site {
    $key: 'w-layout/site';

    .l-site {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0;
        max-width: gsv($key, max-width);
        overflow: hidden; // important: this will hide off-canvas elements
        // z-index: gsv($key, z-index);
    }
}

@mixin w-layout-site-header() {
    $key: 'w-layout/site/header';

    .l-site-header {
        box-sizing: border-box;
        position: relative;
        $z-index: gsv($key, 'z-index'); // header should appear above the other layout objects
        margin: 0 auto;
        min-height: gsv($key, 'height'); // height this should be set in applications
        @include w-clearfix();

        // default style
        color: gsv($key, 'fg');
        background: gsv($key, 'bg');
    }
}

@mixin w-layout-site-banner() {
    $key: 'w-layout/site/banner';

    .l-site-banner {
        position: relative; // required to enable absolute position settings of child elements
        overflow: hidden;
        min-height: gsv($key, 'min-height');
    }
}

// @mixin w-layout-site-header-trailer {
//   .l-header + .l-header-trailer {
//      position: absolute;
//      z-index: gsv($key, 'site/z-index') - 1;
//      width: 100%;
//      padding: gsv($key, 'header-trailer/padding');
//      display: none;
//     }
// }

@mixin w-layout-site-content() {
    .l-site-content {
        position: relative; // required to be positioned above parallax elements
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
        max-width: $w-site-max-width;
    }
}

@mixin w-layout-site-footer() {
    $key: 'w-layout/site/footer';

    .l-site-footer {
        width: 100%;
        margin: gsv($key, 'margin');
        padding: gsv($key, 'padding');

        // default style
        color: gsv($key, 'fg');
        background: gsv($key, 'bg');
        text-align: center;
        border-top: gsv($key, 'divider');
    }
}

@mixin w-layout-site-overlay {
    $key: 'w-layout/site/overlay';

    .l-site-overlay {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: gsv($key, 'z-index');
    }
}


@mixin w-layout-site-offcanvas() {
    $key: 'w-layout/site/offcanvas';

    .l-site-offcanvas {
        display: none;
        position: fixed;
        z-index: gsv($key, 'z-index');
        padding: 2rem 0 0 0;
        overflow-y: auto;
        max-height: 100%;

        // close-button
        &>.offcanvas-close-button {
            position: absolute;
            // z-index: gsv($key, 'z-index');
            top: gsv($key, 'close-button/offset');
            right: gsv($key, 'close-button/offset');
            cursor: pointer;

            &:after {
                position: absolute;
                right: 0;
                content: '\2716';
                font-size: gsv($key, 'close-button/font-size');
                font-weight: bold;
                padding: gsv($key, 'close-button/padding');
                color: gsv($key, 'close-button/fg');
                background: gsv($key, 'close-button/bg');
                border: gsv($key, 'close-button/border');
                border-radius: gsv($key, 'close-button/border-radius');
            }
        }

        // default style
        background: gsv($key, 'bg');
    }
}
