//=========================================================
//
//  @package  Wicle Collection
//  @module   layout/page
//
//  @usage
//  <
//=========================================================


//-----------------------------------------------
//  Config
//-----------------------------------------------
@mixin w-layout-page-config {
    $key: 'w-layout/page'; // DO NOT use $key as global variable

    // page
    @include ssv($key, 'max-width', $w-page-max-width, true);
    @include ssv($key, 'min-height', 30rem, true);
    @include ssv($key, 'padding', 1rem, true);
    @include ssv($key, 'font-family', null, true);
    @include ssv($key, 'font-size', 1.15rem, true);
    @include ssv($key, 'breakpoint', 'large', true);

    // sidebar: sidebar size defined first and then content size determined
    @include ssv($key, 'sidebar/width', 20rem, true);
    @include ssv($key, 'sidebar/spacing', 3rem, true);
    @include ssv($key, 'sidebar/padding', 0 0 0 gsv($key, 'sidebar/spacing')/2, true);

    // contents
    @include ssv($key, 'content/width', calc(100% - #{gsv($key, 'sidebar/width')}), true);
    @include ssv($key, 'content/padding', 0 gsv($key, 'sidebar/spacing')/2 0 0, true);
}


//-----------------------------------------------
//  Mixins
//-----------------------------------------------
@mixin w-layout-page() {
    $key: 'w-layout/page';

    .l-page {
        font-size: gsv($key, 'font-size');
        font-family: gsv($key, 'font-family');
        max-width: gsv($key, 'max-width');
        min-height: gsv($key, 'min-height');
        margin: 0 auto;
        padding: gsv($key, 'padding');
        @include w-clearfix();
    }
}

@mixin w-layout-page-content() {
    $key: 'w-layout/page';

    .l-content {
        box-sizing: border-box;
        width: 100%; // mobile first (100% for mobile)
        padding: 0; // no padding because it is set by l-page
    }

    $breakpoint: gsv($key, 'breakpoint');

    @if $breakpoint {
        @include w-media(gsv($key, 'breakpoint')) {
            .l-page:not(.wo-single) {
                .l-content {
                    float: left;
                    width: gsv($key, 'content/width');
                    padding: gsv($key, 'content/padding');

                    &.wo-right {
                        float: right;
                    }
                }
            }
        }
    }
}

@mixin w-layout-page-sidebar() {
    $key: 'w-layout/page';

    // mobile first: contents and sidebar have 100% width
    .l-sidebar {
        box-sizing: border-box;
        width: 100%;
        padding: 0; // no padding because it is set by l-page
    }

    // On bigger screens, sidebar comes on left or right of content
    $breakpoint: gsv($key, 'breakpoint');

    @if $breakpoint {
        @include w-media($breakpoint) {
            .l-page:not(.wo-single) {
                .l-sidebar {
                    float: left;
                    width: gsv($key, 'sidebar/width');
                    padding: gsv($key, 'sidebar/padding');
                }
            }
        }
    }
}
