//
//  Wicle Docs
//

@import "site.config";

//-----------------------------------------------
//  Wicle modules
//-----------------------------------------------
@import "wicle";

//--- Wicle Optional Features
@include w-button-modifier-color-scheme();
@include w-panel-modifier-color-scheme();


//-----------------------------------------------
//  styles
//-----------------------------------------------
$banner-height: 350px;
$header-height: gsv('w-navbar/height');

.l-site-background {
    position: absolute;
    top: 0;
    height: $banner-height + px($header-height);
    @include w-pattern(shade($w-theme-color, 25%));
}

.l-site-content {
    background: white;
    min-height: 1024px;
}

.l-site-banner {
    display: none;
    height: $banner-height;

    padding: 2rem 1rem;
    color: gray(90%);
    text-align: center;


    .title {
        font-size: 2rem;
        color: $w-color-orange;
    }

    .description {
        font-size: 1.2rem;
        font-weight: normal;
        padding: 0;
        margin-bottom: 0.5rem;
    }

    .version {
        margin-bottom: 0.5rem;
        padding: 0.5rem;
    }
}

.front-page .l-site-banner {
    display: block;
}


// override code hiligher style
.l-page {
    code {
        background: $w-color-code-block-bright;
    }

    padding-bottom: 3rem;
}

.l-sidebar {
    a:hover {
        color: $w-theme-color-link-hover;
    }
}

.l-site-footer {
    //background-color: darken($w-theme-color, 25%);
    background-color: rgba(#000, 0.85);

    .logo-text {
        color: rgba(yellow, 0.75);
    }

    a {
        color: rgba(lightgreen, 0.75);
    }
}

.l-site-offcanvas {
    h1 {
        color: $w-color-text-white;
        text-align: center;
    }
}
