//
//  Wicle Docs
//

//@import "themes/harley-davison-orange";
@import "wicle";

#l-banner {
  margin:0;
  border-top: 1px solid darken($w-color-theme, 25%);
  padding: 2rem 1rem;
  color: gray(90%);
  text-align: center;

  @include w-pattern(shade($w-color-theme, 25%));
  //background-color: shade($w-color-theme, 25%); // smart-scale($w-color-theme, -5%);

  .title {
    font-size: 2rem;
    color: $w-color-orange;
  }
  .description {
    font-size: 1.2rem;
    font-weight: normal;
    padding:0;
    margin-bottom:0.5rem;
  }
  .version {
    margin-bottom:0.5rem;
    padding:0.5rem;
  }
  .btn, .btn:visited {
    color: #000;
  }
  .btn {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 1rem;
    background-color: rgba($w-color-orange, 0.9);
    border-radius: 2px; // 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    &:hover {
      color: $w-color-dark-red;
    }
    &:visited {
      text-decoration: none;
    }
  }
}

#l-page {
  code {
    background: $w-color-code-block-bright;
  }
}

#l-footer {
  //background-color: darken($w-color-theme, 25%);
  background-color: rgba(#000, 0.85);
  .logo-text {
    color: rgba(yellow, 0.75);
  }
  a {
    color: rgba(lightgreen, 0.75);
  }
}