//=========================================================
//
//  @package Wicle Collection
//  @module themse/default
//
//=========================================================

//--- theme colors
$w-theme-color:                 $w-color-bahama-blue !default;
$w-theme-color-bg:              transparentize($w-theme-color, 0.95) !default;
$w-theme-color-link:            darken($w-theme-color, 15%) !default;
$w-theme-color-link-hover:      $w-color-text-red !default;
$w-theme-color-line:            rgba($w-theme-color, 0.35) !default;