//=========================================================
//
//  @package Wicle
//  @module modules/sys.config
//
//=========================================================

@import "../functions/conf";

//-----------------------------------------------
//  global config database
//-----------------------------------------------
$w-sys-conf: () !default;

// set system value
@mixin ssv($key, $path, $value, $default:false) {
  @if $path=='/' { $path: null; }
  $addr: if($path, $key + "/" + $path, $key);

  $w-sys-conf: scv($w-sys-conf, $addr, $value, $default) !global;
}

// merge system value
@mixin msv($key, $path, $valueSet, $default:false) {
  @if $path=='/' { $path: null; }
  $addr: if($path, $key + "/" + $path, $key);

  $data: gcv($w-sys-conf, $addr);
  $data: map-merge($data, $valueSet);
  $w-sys-conf: scv($w-sys-conf, $addr, $data, $default) !global;
}

// get system value
@function gsv($key, $path:null) {
  @if $path=='/' { $path: null; }
  $addr: if($path, $key + "/" + $path, $key);

  @return gcv($w-sys-conf, $addr);
}

//
//@include ssv('w-navbar', 'brand/font-family', sans, true);
//@include ssv('w-navbar', 'brand/hover/fg', #fff, true);
//
//@include ssv('w-navbar', 'toggle/fg', gray(80%), true);
//@include ssv('w-navbar', 'toggle/hover/fg', white, true);
//
//@include msv('w-navbar', 'toggle', (fg:red));
//
//@debug gsv('w-navbar')