//=========================================================
//
//  @package Wicle
//  @module modules/theme
//
//=========================================================

@import "../variables/color";

//-----------------------------------------------
//  data
//-----------------------------------------------
$w-conf-theme:                  () !default;
$w-conf-theme:scv($w-conf-theme, 'default/fg', $w-color-fg, true);
$w-conf-theme:scv($w-conf-theme, 'default/bg', transparentize($w-color-fg, 0.95), true);
$w-conf-theme:scv($w-conf-theme, 'default/line', transparentize($w-color-fg, 0.8), true);
$w-conf-theme:scv($w-conf-theme, 'primary/fg', $w-color-primary, true);
$w-conf-theme:scv($w-conf-theme, 'primary/bg', transparentize($w-color-primary, 0.95), true);
$w-conf-theme:scv($w-conf-theme, 'primary/line', transparentize($w-color-primary, 0.8), true);
$w-conf-theme:scv($w-conf-theme, 'secondary/fg', $w-color-secondary, true);
$w-conf-theme:scv($w-conf-theme, 'secondary/bg', transparentize($w-color-secondary, 0.95), true);
$w-conf-theme:scv($w-conf-theme, 'secondary/line', transparentize($w-color-secondary, 0.8), true);
$w-conf-theme:scv($w-conf-theme, 'success/fg', $w-color-success, true);
$w-conf-theme:scv($w-conf-theme, 'success/bg', transparentize($w-color-success, 0.95), true);
$w-conf-theme:scv($w-conf-theme, 'success/line', transparentize($w-color-success, 0.8), true);
$w-conf-theme:scv($w-conf-theme, 'info/fg', $w-color-info, true);
$w-conf-theme:scv($w-conf-theme, 'info/bg', transparentize($w-color-info, 0.95), true);
$w-conf-theme:scv($w-conf-theme, 'info/line', transparentize($w-color-info, 0.8), true);
$w-conf-theme:scv($w-conf-theme, 'warning/fg', $w-color-warning, true);
$w-conf-theme:scv($w-conf-theme, 'warning/bg', transparentize($w-color-warning, 0.95), true);
$w-conf-theme:scv($w-conf-theme, 'warning/line', transparentize($w-color-warning, 0.8), true);
$w-conf-theme:scv($w-conf-theme, 'danger/fg', $w-color-danger, true);
$w-conf-theme:scv($w-conf-theme, 'danger/bg', transparentize($w-color-danger, 0.95), true);
$w-conf-theme:scv($w-conf-theme, 'danger/line', transparentize($w-color-danger, 0.8), true);



//=== data interface
@mixin scv-theme($path, $value, $default:false) {
  $w-conf-layout: scv($w-conf-theme, $value) !global;
}

@mixin scv-theme-color($name, $color) {
  @include scv-theme('#{$name}/fg', $color);
  @include scv-theme('#{$name}/bg', transparentize($color, 0.95));
  @include scv-theme('#{$name}/line', transparentize($color, 0.8));
}

@function gcv-theme($path) {
  @return gcv($w-conf-theme, $path);
}



//-----------------------------------------------
//  mixin's
//-----------------------------------------------

//
//  Set theme color variables
//    @param $color{Color}        Theme main foreground color
//    @param $bg{Color | Number}  Theme main background color. If it is number, it means transparent level
//    @param $line-color{Color | Number}  Theme main line color. If it is number, it means transparent level
//
@mixin w-theme-color($color, $bg:0.95, $line-color:0.8) {
  $w-color-fg: $color !global;
  $w-color-bg: if(type-of($bg)==color, $bg, transparentize($w-color-fg, $bg)) !global;
  $w-color-line: if(type-of($line-color)==color, $line-color, transparentize($w-color-fg, $line-color)) !global;
}
