//=========================================================================
//  @package      Wicle
//  @module       variables/typography
//
//=========================================================================

@import "../variables/base";
@import "../functions/conf";

//-----------------------------------------------
//  data
//-----------------------------------------------
$w-typography-generate-classes:     true !default;   // enable class generation
$w-conf-typography:                 () !default;

//--- headers
//  html5 default size in rem (not em)
//  ref: https://www.w3.org/TR/html-markup/h1.html
//    h1 { font-size: 2em; margin: .67rem 0 }
//    h2 { font-size: 1.5rem; margin: .83rem 0 }
//    h3 { font-size: 1.17rem; margin: 1rem 0 }
//    h4 { font-size: 1rem; margin: 1.33rem 0 }
//    h5 { font-size: .83rem; margin: 1.67rem 0 }
//    h6 { font-size: .67rem; margin: 2.33rem 0 }
$w-conf-typography: scv($w-conf-typography, 'header/h1', (font-size:2rem, margin:0.67rem 0 1rem), true);
$w-conf-typography: scv($w-conf-typography, 'header/h2', (font-size:1.5rem, margin:0.83rem 0 1rem), true);
$w-conf-typography: scv($w-conf-typography, 'header/h3', (font-size:1.17rem, margin:1rem 0 1rem), true);
$w-conf-typography: scv($w-conf-typography, 'header/h4', (font-size:1rem, margin:1rem 0 1rem), true);      // 1.33rem
$w-conf-typography: scv($w-conf-typography, 'header/h5', (font-size:0.83rem, margin:1rem 0 1rem), true);   // 1.67rem
$w-conf-typography: scv($w-conf-typography, 'header/h6', (font-size:0.67rem, margin:1rem 0 1rem), true);   // 2.33rem


//=== data interface
@function scv-typography($path, $value, $default:false) {
  $w-conf-typography: scv($w-conf-typography, $value, $default) !global;
}

@function gcv-typography($path) {
  @return gcv($w-conf-typography);
}



//-----------------------------------------------
//  mixin's
//-----------------------------------------------
@mixin w-typography-core {
  h1, h2, h3, h4, h5, h6 {
    font-family: $w-font-sans;
    font-weight: 600;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: gcv($w-conf-typography, 'header/h#{$i}/font-size');
      margin: gcv($w-conf-typography, 'header/h#{$i}/margin');
    }
  }

  .w-bold {
    font-weight: bold;
  }

  .w-normal {
    font-weight: normal;
  }
}

@mixin w-typography-styles {}
