//=========================================================
//
//  @package Wicle
//  @module base/typography
//
//=========================================================

@import "../../wdk/variables/base";
@import "../../wdk/modules/typography";

//--- headers/titles

h1,h2,h3,h4,h5,h6 {
  font-family: $w-font-sans;
  font-weight: 600;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: gcv($w-conf-typography, 'header/h#{$i}/font-size');
    margin: gcv($w-conf-typography, 'header/h#{$i}/margin');
  }
}

.w-bold {
  font-weight: bold;
}

.w-normal {
  font-weight: normal;
}
