//=========================================================================
//
//  @package  Wicle Collection
//  @module   ui/components/Divider
//  @description Horizontal dividers
//
//  @usage
//    <div class="w-divider wo-thin"></div>
//    <div class="w-divider"><span>Divider Text</span></div>
//    <div class="w-divider"><div class="w-divider-text">Text</div></div>
//
//=========================================================================


//-----------------------------------------------
//  Config
//-----------------------------------------------
@mixin w-divider-config {
  $key: 'w-divider';
  
  // core
  @include ssv($key, 'style', 1px solid gray(80%), true);
  @include ssv($key, 'spacing', 1.5rem, true);
  @include ssv($key, 'text/fg', null, true);
  @include ssv($key, 'text/bg', white, true);
  
  // modifiers
  @include ssv($key, 'skinny/spacing', 0.25rem, true);
  @include ssv($key, 'slim/spacing', 0.5rem, true);
  @include ssv($key, 'thin/spacing', 1rem, true);
  @include ssv($key, 'thick/spacing', 2rem, true);
  @include ssv($key, 'fat/spacing', 3rem, true);
}


//-----------------------------------------------
//  Mixins
//-----------------------------------------------
@mixin w-divider-core {
  $key: 'w-divider';
  
  //display: inline-block;  // required to remove margin collapsing
  padding: 1px 0 0 0;
  width: 100%;
  height: auto;
  user-select: none;
  z-index: 0;
  margin: gsv($key, spacing) 0;
  &:before {
    content:'';
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    width: 100%;
    border-top: gsv($key, style);
  }

  // text on divider
  position: relative;
  text-align: center;
  &>span, .w-divider-text {
    display: inline;
    padding: 0.2rem 1rem;
    border-radius: $w-border-radius;
  }
}

@mixin w-divider-modifiers {
  $key: 'w-divider';
  
  &.wo-fit {
    margin: 0 0;
  }
  &.wo-skinny {
    margin: gsv($key, skinny/spacing) 0;
  }
  &.wo-slim {
    margin: gsv($key, slim/spacing) 0;
  }
  &.wo-thin {
    margin: gsv($key, thin/spacing) 0;
  }
  &.wo-thick {
    margin: gsv($key, thick/spacing) 0;
  }
  &.wo-fat {
    margin: gsv($key, fat/spacing) 0;
  }
  &.wo-transparent {
    &:before {
      display: none;
    }
  }
}

@mixin w-divider-text-style($fg, $bg:null) {
  $key: 'w-divider';

  &>span, .w-divider-text {
    color: gsv($key, text/fg);
    background: gsv($key, text/bg);
  }
}

@mixin w-divider-default-styles() {
  $key: 'w-divider';
  
  @include w-divider-text-style(gsv($key, text/fg), gsv($key, text/bg));
}


//-----------------------------------------------
//  Elements
//-----------------------------------------------
@include w-divider-config();

.w-divider {
  @include w-divider-core;
  @include w-divider-modifiers;
  @include w-divider-default-styles;
}
