//=========================================================
//
//  @package Wicle Collection
//  @module Components/image
//
//=========================================================


//-----------------------------------------------
//  Config
//-----------------------------------------------
@mixin w-image-config {
    $key: 'w-image';

    // core
    @include ssv(key(), 'radius', 3px, true);

    // modifiers
    @include ssv(key(), 'frame/fg', transparentize($w-color-text-black, 0.5), true);
    @include ssv(key(), 'frame/padding', 0.15rem, true);
}


//-----------------------------------------------
//  Mixins
//-----------------------------------------------
@mixin w-image-core($circular:false) {
    // responsive image
    max-width: 100%;
    height: auto;
}

@mixin w-image-modifiers {
    $key: 'w-image';

    &.wo-frame,
    &.wo-thumbnail {
        padding: gsv($key, frame/padding);
        border: 1px solid gsv($key, frame/fg);
    }

    &.wo-round,
    &.wo-thumbnail {
        border-radius: gsv($key, radius);
    }

    &.wo-circle {
        border-radius: 50%;
    }
}


//-----------------------------------------------
//  Elements
//-----------------------------------------------
@include w-image-config();

.w-image {
    @include w-image-core;
    @include w-image-modifiers;
}
