//=========================================================
//
//  @package Wicle Collection
//  @module components/scrollbar
//
//=========================================================


//-----------------------------------------------
//  Config
//-----------------------------------------------
@mixin w-scrollbar-config {
    $key: 'w-scrollbar';

    // scrollbar
    @include ssv($key, 'width', 14px, true);
    @include ssv($key, 'height', 14px, true);
    @include ssv($key, 'thumb/border-radius', 5px, true);
    @include ssv($key, 'thumb/bg', gray(85%), true);            // dark mode: 23.5%
    @include ssv($key, 'thumb/hover/bg', gray(70%), true);      // dark mode: 35%
    @include ssv($key, 'thumb/active/bg', gray(45%), true);
    @include ssv($key, 'thumb/transition', (color .2s ease), true);
    @include ssv($key, 'track/bg',gray(95%), true);             // dark mode: 20%
}


//-----------------------------------------------
//  Mixins
//-----------------------------------------------
@mixin w-scrollbar-core {
    $key: 'w-scrollbar';

    body {
        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: gsv($key, 'width');
            height: gsv($key, 'height');
        }

        ::-webkit-scrollbar-thumb {
            cursor: pointer;
            border-radius: gsv($key, 'thumb/border-radius');
            background: gsv($key, 'thumb/bg');
            transition: gsv($key, 'thumb/transition');
            &:hover {
                background: gsv($key, 'thumb/hover/bg');
            }
            &:active {
                background: gsv($key, 'thumb/active/bg');
            }
        }

        ::-webkit-scrollbar-track {
            background: gsv($key, 'track/bg');
            border-radius: 0;
        }
    }
}


//-----------------------------------------------
//  Elements
//-----------------------------------------------
@include w-scrollbar-config();
@include w-scrollbar-core();
