@import "../site.config";

.demo-fonts {
    //--- type scales
    --demo-text-xxs:     #{$w-text-xxs};
    --demo-text-xs:      #{$w-text-xs};
    --demo-text-sm:      #{$w-text-sm};
    --demo-text-md:      #{$w-text-md};
    --demo-text-lg:      #{$w-text-lg};
    --demo-text-xl:      #{$w-text-xl};
    --demo-text-xxl:     #{$w-text-xxl};
    --demo-text-xxxl:    #{$w-text-xxl};

    p {
        margin: 0;
        padding: 0;

        $scale-list: (5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5);
        @each $scale in $scale-list {
            &[data-font-scale="#{$scale}"] {
                font-size: font-scale($scale);
            }
        }

        $scale-names: (xxxl, xxl, xl, lg, md, sm, xs, xxs);
        @each $name in $scale-names {
            &[data-font-scale="#{$name}"] {
                font-size: var(--demo-text-#{$name});
            }
        }
    }
}
