//=========================================================
//
//  @package Wicle Collection
//  @module Components/align
//
//=========================================================

@import "../../wdk";

//-----------------------------------------------
//  mixin's
//-----------------------------------------------
@mixin w-align-init {
  @if mixin-exists(w-hook-align-init) { @include w-hook-align-init(); }

  //--- globals variables
  $w-align-generate-classes: true !default !global; // enable class generation

  //-- local variables
  $key: 'w-align';

  @if mixin-exists(w-hook-align-override) { @include w-hook-align-override(); }
}

@mixin w-align-classes {
  .w-left {
    @include w-left;
  }
  .w-right {
    @include w-right;
  }
  .w-center {
    @include w-center;
  }
  .w-table-left {
    @include w-align(left, table);
  }
  .w-table-right {
    @include w-align(right, table);
  }
  .w-table-center {
    @include w-align(center, table);
  }

  // text alignment
  p, a, h1, h2, h3, h4, h5, h6, img {
    &.w-center {
      text-align: center;
    }
    &.w-left {
      text-align: left;
    }
    &.w-right {
      text-align: right;
    }
  }
}


//-----------------------------------------------
//  module init
//-----------------------------------------------
@include w-align-init;
@include w-align-classes;
