//=========================================================
//
//  @package Wicle Collection
//  @module utils/visibility
//
//=========================================================

@import "../../wdk";

//-----------------------------------------------
//  mixin's
//-----------------------------------------------
@mixin w-visibility-init {
  @if mixin-exists(w-hook-visibility-init) { @include w-hook-visibility-init(); }

  //--- globals variables
  $w-visibility-generate-classes: true !default !global; // enable class generation

  //-- local variables
  $key: 'w-visibility';

  @if mixin-exists(w-hook-visibility-override) { @include w-hook-visibility-override(); }
}

@mixin w-visibility-classes {
  $mq-list: w-mq-list() !default;

  .show { display: block; }
  .hide { display: none; }
  .visible { visibility: visible; }
  .invisible { visibility: hidden; }

  @for $i from 1 through length($mq-list) {
    $mq-name: nth($mq-list, $i);

    .show\@#{$mq-name} {
      display: none;
      @include w-mq($mq-name) { display: block; }
    }
    .hide\@#{$mq-name} {
      display: block;
      @include w-mq($mq-name) { display: none; }
    }
    .visible\@#{$mq-name} {
      visibility: hidden;
      @include w-mq($mq-name) { visibility: visible; }
    }
    .invisible\@#{$mq-name} {
      visibility: hidden;
      @include w-mq($mq-name) { visibility: visible; }
    }
  }
}


//-----------------------------------------------
//  module init
//-----------------------------------------------
@include w-visibility-init;
@include w-visibility-classes;
