//=========================================================
//
//  @package WCL
//  @module Components/image
//
//=========================================================

@import "../../../wdk/wdk";

//-----------------------------------------------
//  data
//-----------------------------------------------
$w-image-generate-classes:     true !default;   // enable class generation
$w-conf-image: ();

//--- core
$w-conf-image: scv($w-conf-image, 'radius', $w-border-radius, true);

//--- frame
$w-conf-image: scv($w-conf-image, 'frame/fg', transparentize($w-color-text-black, 0.5), true);
$w-conf-image: scv($w-conf-image, 'frame/padding', 0.15rem, true);


//=== data interface
@mixin scv-image($path, $value, $default:false) {
  $w-conf-image: scv($w-conf-image, $path, $value, $default) !global;
}

@function gcv-image($path) {
  @return gcv($w-conf-image, $path);
}



//-----------------------------------------------
// mixin's
//-----------------------------------------------
@mixin w-image-core($circular:false) {
  // responsive image
  max-width: 100%;
  height: auto;
}

@mixin w-image-styles {
}

@mixin w-image-options {
  &.wo-frame, &.wo-thumbnail {
    padding: gcv-image(frame/padding);
    border: 1px solid gcv-image(frame/fg);
  }
  &.wo-round, &.wo-thumbnail {
    border-radius: gcv-image(radius);
  }
  &.wo-circle {
    border-radius: 50%;
  }
}



//-----------------------------------------------
// mixin's for classes generations
//-----------------------------------------------
@if $w-wicle-mode != 'scss' and $w-image-generate-classes {
  .w-image {
    @include w-image-core;
    @include w-image-styles;
    @include w-image-options;
  }
}
@if mixin-exists(w-hook-image) { @include w-hook-image(); }
