//=========================================================
//
//  @package Wicle
//  @module ui/components/panel
//
//=========================================================

@import "wdk/wdk";

//-----------------------------------------------
//  data
//-----------------------------------------------
$w-panel-generate-classes:     true !default;   // enable class generation
$w-conf-panel: ();

//--- core
$w-conf-panel: scv($w-conf-panel, 'padding', 0.75rem 1rem, true);
$w-conf-panel: scv($w-conf-panel, 'border', 1px solid gray(85%), true);
$w-conf-panel: scv($w-conf-panel, 'radius', $w-border-radius, true);

//--- styles
$w-conf-panel: scv($w-conf-panel, 'bg', white, true);


//=== data interface
@mixin scv-panel($path, $value, $default:false) {
  $w-conf-panel: scv($w-conf-panel, $path, $value, $default) !global;
}

@mixin scv-panel-merge($conf) {
  $w-conf-panel: map-merge($w-conf-panel, $conf) !global;
}

@function gcv-panel($path) {
  @return gcv($w-conf-panel, $path);
}



//-----------------------------------------------
// mixin's
//-----------------------------------------------
@mixin w-panel-core {
  display: block;
  position: relative;
  padding: gcv-panel(padding);
  border-radius: gcv-panel(radius);
  border: gcv-panel(border);
}


@mixin w-panel-styles($bg:gcv-panel(bg), $alpha:false) {
  $fg: yiq-color($bg);
  //@debug $color --- yiq-color($color);
  $line: smart-scale($bg, 20%);

  @if $alpha {
    $fg: $w-color-text-black;
    $bg: transparentize($bg, 0.95);
  }
  color: $fg;
  background: $bg;
  border-color: $line;
}

@mixin w-panel-options {
  &.wo-alpha {
    @include w-panel-styles($w-color-text-white, true)
  }

  // color scheme
  @each $scheme in $w-color-scheme {
    $name: nth($scheme, 1);
    $color: nth($scheme, 2);
    &.wo-#{$name} {
      @include w-panel-styles($color);
    }
    // alpha mode (semi transparent)
    &.wo-#{$name}.wo-alpha {
      @include w-panel-styles($color, true);
    }
  }
}



//-----------------------------------------------
//  class generation
//-----------------------------------------------
@if $w-wicle-mode != 'scss' and $w-panel-generate-classes {
  .w-panel {
    @include w-panel-core;
    @include w-panel-styles;
    @include w-panel-options;
  }
}
@if mixin-exists(w-hook-panel) { @include w-hook-panel(); }