//=========================================================
//
//  @package  Wicle
//  @module   ui/components/pagination
//
//=========================================================

@import "../../../wdk/wdk";

// shortcut function: valid only in this file
@function cv($path:null) {  @return gsv('w-pagination', $path);  }


//-----------------------------------------------
//  mixin's
//-----------------------------------------------
@mixin w-pagination-init {
  @if mixin-exists(w-hook-pagination-init) { @include w-hook-button-init(); }

  //--- globals variables
  $w-pagination-generate-classes: true !default !global; // enable class generation

  //-- local variables
  $key: 'w-pagination';

  // core
  @include ssv($key, 'padding', 0.25rem 0.85rem, true);

  // default style
  @include ssv($key, 'theme-color', $w-color-theme, true);    // pagination theme color
  @include ssv($key, 'currnt-color', $w-color-harley-davidson-orange, true);   // current page color

  @if mixin-exists(w-hook-pagination-override) { @include w-hook-pagination-override(); }
}

@mixin w-pagination-core() {
  .page-links {
    text-align: center;
    position: relative;

    .page-numbers {
      display: none;
      font-size: 0.875rem;
      font-weight: 800;
      vertical-align: middle;
      transition: all 0.2s ease-in-out;

      &.current {
        display: inline-block;
        &:before {
          content: 'Page';
          margin-right: 0.5rem;
        }
      }
      @include w-mq(medium) {
        display: inline-block;
        padding: cv(padding);
        border-radius: 2px;

        &.prev, &.next {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        &.prev {
          left: 0;
          &:before {
            content: '\2B9C'
          }
        }
        &.next {
          right: 0;
          &:before {
            content: '\2B9E';
          }
        }
        &.current {
          &:before {
            display: none;
          }
        }
        &.dots {
          border: none;
          background: none;
        }
      }
    }
    @include w-clearfix;
  }
}

@mixin w-pagination-opt-circle {
  .page-links {
    .page-numbers {
      @include w-mq(medium) {
        padding: 0.5rem 0.8rem;
        border-radius: 50%;
        &.prev, &.next {
          border-radius: 2px;
        }
      }
    }
  }
}

@mixin w-pagination-styles(
  $color-theme: $w-color-theme,   // pagination theme color
  $color-current: $w-color-harley-davidson-orange // current page color
) {
  .page-links {
    .page-numbers {
      &.current {
        color: $color-theme;
      }
      @include w-mq(medium) {
        color: $color-theme;
        border: 1px solid rgba($color-theme, 0.35);
        &:hover {
          background: rgba($color-theme, 0.15);
        }
        &.prev, &.next {
          color: yiq-color($color-theme);
          background: $color-theme;
          &:hover {
            background: rgba($color-theme, 0.85);
          }
        }
        &.current {
          border: none;
          background: $color-current;
          color: yiq-color($color-current);
        }
      }
    }
  }
}

@mixin w-pagination-options {
  &.wo-circle {
    @include w-pagination-opt-circle;
  }
}


//-----------------------------------------------
//  module init
//-----------------------------------------------
@include w-pagination-init;


//-----------------------------------------------
//  class generation
//-----------------------------------------------
@if $w-wicle-mode == 'css' and $w-pagination-generate-classes {
  .w-pagination {
    @include w-pagination-core;
    @include w-pagination-options;
    @include w-pagination-styles($w-color-theme);
  }
}

@if mixin-exists(w-hook-pagination) { @include w-hook-pagination(); }
