//=========================================================
//
//  @package Wicle
//  @module Components/align
//
//=========================================================

@import "../../wdk/wdk";

//-----------------------------------------------
//  data
//-----------------------------------------------
$w-align-generate-classes:     true !default;   // enable class generation


//-----------------------------------------------
// mixin's for classes generations
//-----------------------------------------------
@if $w-wicle-mode != 'scss' and $w-align-generate-classes {
  .w-left {
    @include w-left;
  }
  .w-right {
    @include w-right;
  }
  .w-center {
    @include w-center;
  }
  .w-table-left {
    @include w-align(left, table);
  }
  .w-table-right {
    @include w-align(right, table);
  }
  .w-table-center {
    @include w-align(center, table);
  }

  // text alignment
  p, a, h1, h2, h3, h4, h5, h6, img {
    &.w-center {
      text-align: center;
    }
    &.w-left {
      text-align: left;
    }
    &.w-right {
      text-align: right;
    }
  }
}
@if mixin-exists(w-hook-align) { @include w-hook-align(); }