//=========================================================
//
//  @package Wicle
//  @module Components/align
//
//=========================================================


//-----------------------------------------------
// mixin's
//-----------------------------------------------
@mixin w-align($direction:left, $display:null) {
  @if $display==table {
    display: table;
    @if ($direction == center) {
      margin: 0 auto;
    }
    @else {
      margin-#{$direction}: 0;
    }
  }
  @else {
    @if $display { display: $display; }
    @if ($direction == center) {
      margin-left: auto;
      margin-right: auto;
    }
    @else {
      float: $direction;
    }
  }
}

@mixin w-left() {
  @include w-align(left);
}

@mixin w-right {
  @include w-align(right);
}

@mixin w-center {
  @include w-align(center);
}

@mixin w-circle($radius, $color:null) {
  height: $radius;
  width: $radius;
  border-radius: 50%;
  @if $color { background: $color; }
}

@mixin w-size($width, $height:null) {
  width: $width;
  @if ($height) {
    height: $height;
  }
  @else {
    height: $width;
  }
}

@mixin w-text-truncate($lines:1, $line-height:$w-line-height) {
  @if $lines == 1 {
    white-space: nowrap;
  }
  @else {
    //display: block;
    display: -webkit-box;
    height: $lines * $line-height;
    line-height: $line-height;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
  overflow: hidden;
  text-overflow: ellipsis;
}


//
////-----------------------------------------------
//// mixin's for classes generations
////-----------------------------------------------
//@mixin w-align-generate-classes {
//  .w-left {
//    @include w-left;
//  }
//  .w-right {
//    @include w-right;
//  }
//  .w-center {
//    @include w-center;
//  }
//  .w-table-left {
//    @include w-align(left, table);
//  }
//  .w-table-right {
//    @include w-align(right, table);
//  }
//  .w-table-center {
//    @include w-align(center, table);
//  }
//
//  // text alignment
//  p,a,h1,h2,h3,h4,h5,h6,img {
//    &.w-center {
//      text-align: center;
//    }
//    &.w-left {
//      text-align: left;
//    }
//    &.w-right {
//      text-align: right;
//    }
//  }
//
//  // clearfix
//  .w-clearfix {
//    @include w-clearfix;
//  }
//}
