//=========================================================
//
//  @package Wicle
//  @module Components/align
//
//=========================================================


//-----------------------------------------------
// mixin's
//-----------------------------------------------
@mixin w-align($direction:left, $display:null) {
  @if $display { display: $display; }
  @if $display==table {
    @if ($direction == center) {
      margin: 0 auto;
    }
    @else {
      margin-#{$direction}: 0;
    }
  }
  @else {
    @if ($direction == center) {
      margin-left: auto;
      margin-right: auto;
    }
    @else {
      float: $direction;
    }
  }
}

@mixin w-left {
  @include w-align(left);
}

@mixin w-right {
  @include w-align(right);
}

@mixin w-center {
  @include w-align(center);
}
