@import "wdk";

$surface-count: 5;
$box-height: 150px;
$surface-spacing: $box-height * 0.5;
$box-per-surface: 10;

.l-page {
    min-height: 2000px;
}

.surface {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
}

.box {
    margin: 0 auto;
    height: $box-height;
    border-radius: 50%;
    border: 1px solid $w-color-primary;

    .w-button {
        // centering
        margin-left: 50%;
        margin-top: $box-height / 2;
        transform: translate3d(-50%, -50%, 0);
    }

}

@for $i from 1 through $surface-count {
    #surface#{$i} {
        margin-top: $surface-spacing * $i * 1.2;

        .box {
            $reduction: unquote(($i*5) + '%');
            width: calc(100% - #{$reduction});
            left: $reduction / 2;
            background: gray(100% - (100 * $i / $surface-count) * 0.5 * 1%);
        }
    }
}
