//=========================================================
//
//  @package Wicle WDK
//  @module variables/base
//
//=========================================================

//--- wicle options
$w-wicle-mode:                  'scss' !default;
$w-wicle-postcss:               false !default;

//--- layout
$w-z-index:                     1000 !default;
$w-site-max-width:              1220px !default;
$w-site-page-width:             $w-site-max-width !default;  // 960px !default;

//--- grid
$w-grid-max-count:              16 !default;
$w-grid-gutter-width:           1rem !default;  // 20px

//--- typography
$w-font-size:                   14px !default;
$w-font-size-mobile:            15px !default;
$w-font-sans:                   Arial,Helvetica,Verdana,sans-serif !default;
$w-font-serif:                  Georgia,Times,Times New Roman,serif !default;
$w-font-mono:                   Roboto Mono,Consolas,Courier,monospace;

$w-line-height:                 1.5 !default;

//--- borders
$w-border-radius:               3px !default;
