//=========================================================
//
//  @package Wicle
//  @module variables/fonts (assorted font selections)
//
//=========================================================

//--- Google web fonts
// Usage: <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Lato|Open+Sans" rel="stylesheet">
$w-font-fira-sans:              'Fira Sans', sans-serif;
$w-font-open-sans:              'Open Sans', sans-serif;
$w-font-lato:                   'Lato', sans-serif;
