//=========================================================
//
//  @package Wicle
//  @module variables/fonts (assorted font selections)
//
//=========================================================

//--- Google web fonts
// Usage
// <link href="https://fonts.googleapis.com/css?family=Roboto|Fira+Sans" rel="stylesheet">
// @import url("//fonts.googleapis.com/css?family=Roboto|Fira+Sans")
// @import url($w-font-roboto-url);
//
// Note: It's recommended to use <link> rather than @import for better performance using parallel file loading
//

$w-font-roboto:                   'Roboto',sans-serif !default;
$w-font-roboto-url:               '//fonts.googleapis.com/css?family=Roboto' !default;

$w-font-fira-sans:                'Fira Sans',sans-serif !default;
$w-font-fira-sans-url:            '//fonts.googleapis.com/css?family=Fira+Sans' !default;

$w-font-open-sans:                'Open Sans',sans-serif !default;
$w-font-open-sans-url:            '//fonts.googleapis.com/css?family=Open+Sans' !default;

$w-font-lato:                     'Lato',sans-serif !default;
$w-font-lato-url:                 '//fonts.googleapis.com/css?family=Lato' !default;

$w-font-noto-sans:                'Noto Sans',sans-serif !default;
$w-font-noto-sans-url:            '//fonts.googleapis.com/css?family=Noto+Sans' !default

$w-font-noto-sans-kr:             'Noto Sans KR',sans-serif !default;
$w-font-noto-sans-kr-url:         '//fonts.googleapis.com/css?family=Noto+Sans+KR' !default

$w-font-roboto-mono:              'Roboto mono',monospace !default;
$w-font-roboto-url:               '//fonts.googleapis.com/css?family=Roboto+Mono' !default;

// Nanum fonts
$w-font-nanum-gothic:             'Nanum Gothic',sans-serif !default;
$w-font-nanum-gothic-url:         '//fonts.googleapis.com/css?family=Nanum+Gothic' !default;

$w-font-nanum-myeongjo:           'Nanum Myeongjo',serif !default;
$w-font-nanum-myeongjo-url:       '//fonts.googleapis.com/css?family=Nanum+Myeongjo' !default;

$w-font-nanum-pen-script:         'Nanum Pen Script',cursive !default;
$w-font-nanum-pen-script-url:     '//fonts.googleapis.com/css?family=Nanum+Pen+Script' !default;

$w-font-nanum-brush-script:       'Nanum Brush Script',cursive !default;
$w-font-nanum-brush-script-url:   '//fonts.googleapis.com/css?family=Nanum+Brush+Script' !default;

$w-font-nanum-gothic-coding:      'Nanum Gothic Coding',monospace !default;
$w-font-nanum-gothic-coding-url:  '//fonts.googleapis.com/css?family=Nanum+Gothic+Coding' !default;


//--- Online Webfonts: https://www.onlinewebfonts.com/
$w-font-helvetica-neue-lt-pro:      'Helvetica+Neue+LT+Pro';
$w-font-helvetica-neue-lt-pro-url:  '//db.onlinewebfonts.com/c/b9c4b6f31f1d4c4c9755b89abb981506?family=Helvetica+Neue+LT+Pro' !default;
