//=========================================================
//
//  @package Wicle
//  @module variables/fonts (assorted font selections)
//
//=========================================================

//--- Google web fonts
// Usage: Single, Multi
//<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
//<link href="https://fonts.googleapis.com/css?family=Fira+Sans|Lato|Open+Sans" rel="stylesheet">

$w-font-roboto:                 'Roboto',$w-font-sans-fallback !default;
$w-font-fira-sans:              'Fira Sans',$w-font-sans-fallback !default;
$w-font-open-sans:              'Open Sans',$w-font-sans-fallback !default;
$w-font-lato:                   'Lato',$w-font-sans-fallback !default;
$w-font-noto-sans:              'Noto Sans',$w-font-sans-fallback !default;
