//=========================================================
//
//  @package Wicle
//  @module variables/theme
//
//  @description Color collection
//
//=========================================================

//--- theme color
$w-color-theme:                 $w-color-bahama-blue !default;
$w-color-theme-bg:              transparentize($w-color-theme, 0.95) !default;
$w-color-theme-link:            $w-color-text-black !default;
$w-color-theme-link-hover:      $w-color-text-red !default;
$w-color-theme-line:            rgba($w-color-theme, 0.35) !default;

////--- default colors
//$w-color-fg:                    $w-color-text-black !default;
//$w-color-bg:                    $w-color-text-white !default;
//$w-color-text-bg:               $w-color-text-white !default;
//$w-color-bg:                    transparentize($w-color-fg, 0.95) !default;
//$w-color-line:                  transparentize($w-color-fg, 0.8) !default;
//
//// link colors
//$w-color-link:                  $w-color-claret !default;
//$w-color-link-hover:            darken($w-color-link, 8%) !default;
//$w-color-highlight:             $w-color-french-rose !default;
