//=========================================================
//
//  @package Wicle WDK
//  @module variables/theme
//
//  @description Color collection
//
//=========================================================

@import "../constants/colors";

//--- theme color
$w-color-theme:                 $w-color-bahama-blue !default;
$w-color-theme-bg:              transparentize($w-color-theme, 0.95) !default;
$w-color-theme-link:            darken($w-color-theme, 15%) !default;
$w-color-theme-link-hover:      $w-color-text-red !default;
$w-color-theme-line:            rgba($w-color-theme, 0.35) !default;
