@import "../site.config";

@lost gutter 1rem;

.color-items {
    lost-center: $w-page-max-width;
    lost-utility: clearfix;

    div {
        lost-column: 1/2;

        @include w-media(large) {
            lost-column: 1/3;
        }

        // Style for color item entry. This is set by javascript
        .color-item {
            margin: 0.5rem 0.5rem;
            box-sizing: border-box;
            padding: 1rem;
            min-height: 3rem;
            font-weight: normal;
            border-radius: 4px;
        }
    }
}
